<% provide(:title, 'О нас') %>
<h1>О нас</h1>
<p>
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  это проект по созданию книги и скринкастов для обучения веб-разработке
  на <a href="http://rubyonrails.org/">Ruby on Rails</a>. Sample App это простое приложения для обучения.
</p>
