<% provide(:title, 'Контакты') %>
<h1>Contact</h1>
<p>
  Посетить Ruby on Rails Tutorial в котором разрабатывается Sample App можно посетив   
  <a href="http://railstutorial.org/contact">контактную страницу</a>.
</p>
