<% provide(:title, 'Помощь') %>
<h1>Help</h1>
<p>
  Для получения помощи по учебнику Ruby on Rails Tutorial нужно перейти по сылке  
  <a href="http://railstutorial.org/help">Rails Tutorial страница помощи</a>.
  Для получения помощи по разработке Sample App нужно перейти по ссылке 
  <a href="http://railstutorial.org/book">книга Rails Tutorial</a>.
</p>
