<div class="center hero-unit">
  <h1>Добро пожаловать в Sample App</h1>

  <h2>
    Это стартовая страница приложения
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    Sample App.
  </h2>
  <% unless signed_in? %>
    <%= link_to "Регистрация", signup_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

