<% provide(:title, 'Reset password') %>
<h1>Reset password</h1>

<%= form_tag password_resets_path, method: :post do %>
  <section>
  <%= render 'new_fields' %> 
  </section>
  <%= submit_tag "Reset password", class: "btn btn-large btn-primary" %>
<% end %>
