<% provide(:title, 'Сброс пароля') %>
<h1>Сброс пароля</h1>

<%= form_tag password_resets_path, method: :post do %>
  <section>
  <%= render 'new_fields' %> 
  </section>
  <%= submit_tag "Сбросить пароль", class: "btn btn-large btn-primary" %>
<% end %>
