<li>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    Опубликовано <%= time_ago_in_words(micropost.created_at) %> назад.
  </span>
  <% if current_user?(micropost.user) %>
    <%= link_to "delete", micropost, method: :delete,
                                     data: { confirm: "Вы уверены?" },
                                     title: micropost.content %>
  <% end %>
</li>
