<li>
  <span class="content"><%= wrap(micropost.content) %></span>
  <span class="timestamp">
    Опубликовано <%= time_ago_in_words(micropost.created_at) %> назад.
  </span>
  <%= form_for(micropost) do |f| %>
    <%= render 'shared/delete_micropost', object: f.object %>
  <% end %>
</li>
